body {
  font-size: 1.4rem;
  margin: 0;
  padding: 3rem;
}

.button {
  background-color: #3f70ef;
  border: 2px solid #3f70ef;
  margin: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: white;
}
.button:hover {
  border: 2px solid white;
  color: white;
}
.reset {
  background-color: #df1204;
  color: white;
  margin: 5px;
  padding: 0.5rem 1rem;
}
.reset:hover {
  border: 2px solid white;
  color: white;
}
